<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles/newList.css" />
    <link rel="stylesheet" href="/styles/datePicker.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <script src="/scripts/date-picker.js" defer></script>
    <title>List</title>
  </head>
  <body>
    <header class="header">
      <div class="container-header">
        <div class="header-main">
          <a href="#" class="header-logo-section">
            <img src="../resources/logo.svg" alt="" />
          </a>

          <a href="#" class="toggle-button" id="toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
        </div>
        <nav class="header-nav">
          <ul class="header-nav-ul">
            <li><a href="#">Home</a></li>
            <li><a href="./views/list.html">List</a></li>
            <li><a href="">Custom</a></li>
            <li><a href="">About Us</a></li>
            <li>
              <div id="more-dropdown">
                <a>More <i class="fas fa-caret-down"></i></a>
                <div class="dropdown">
                  <ul id="header-drop-items">
                    <li>
                      <a href="https://www.inspirock.com/" target="_blank"
                        >Travel Planner</a
                      >
                    </li>
                    <li>
                      <a href="https://www.flightradar24.com/" target="_blank"
                        >Flight radar</a
                      >
                    </li>
                    <li>
                      <a href="http://www.doyouneedvisa.com/" target="_blank"
                        >Visa conditions</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="form-container">
      <div class="search-options-grid">
        <div class="col-switch">
          Round trip <i class="fas fa-chevron-down"></i>
        </div>
        <div class="col-travelers">
          1 Adult <i class="fas fa-chevron-down"></i>
        </div>
        <div class="col-cabin">Economy <i class="fas fa-chevron-down"></i></div>
      </div>
      <form id="searchForm" action="#">
        <div class="fromDestination">
          <input type="text" name="" id="fromDest" placeholder="From?" />
        </div>
        <div class="switchBtn">
          <button id="switchBtn">
            <i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i>
          </button>
        </div>
        <div class="toDestination">
          <input type="text" name="" id="toDest" placeholder="To?" />
        </div>
        <div class="departureDate">
          <input type="text" name="" id="depDate" />
        </div>
        <div class="returnDate"><input type="text" name="" id="retDate" /></div>
        <div class="date-picker">
          <div class="dates">
            <div class="month">
              <div class="arrows prev-mth">&lt;</div>
              <div class="mth"></div>
              <div class="arrows next-mth">&gt;</div>
            </div>
      
            <div class="days"></div>
          </div>
        </div>
      </form>
    </div>

    <footer>
      <div class="footer-top-wrap">
        <div class="footer-statistics">
          <div class="statistic">
            <i class="fas fa-birthday-cake"></i>
            <div class="statistic-inner-text">
              <span>35 days</span>
              <span>of experience</span>
            </div>
          </div>
          <div class="statistic">
            <i class="fas fa-globe-europe"></i>
            <div class="statistic-inner-text">
              <span>50</span>
              <span>countries</span>
            </div>
          </div>
          <div class="statistic">
            <i class="fas fa-user-friends"></i>
            <div class="statistic-inner-text">
              <span>0</span>
              <span>customers</span>
            </div>
          </div>
          <div class="statistic">
            <i class="fas fa-plane-departure"></i>
            <div class="statistic-inner-text">
              <span>950</span>
              <span>airlines</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-wrapper">
        <div class="footer-middle-grid">
          <div class="footer-links">
            <h4>AIRLINES</h4>
            <ul class="footer-list">
              <li class="footer-list-item"><a href="">Easyjet</a></li>
              <li class="footer-list-item"><a href="">Ryanair</a></li>
              <li class="footer-list-item"><a href="">Wizz Air</a></li>
              <li class="footer-list-item"><a href="">British Airlines</a></li>
              <li class="footer-list-item">
                <a href="">Montenegro Airlines</a>
              </li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>LEARN MORE</h4>
            <ul class="footer-list">
              <li class="footer-list-item"><a href="">Mobile App</a></li>
              <li class="footer-list-item"><a href="">Flight radar</a></li>
              <li class="footer-list-item"><a href="">Airports</a></li>
              <li class="footer-list-item"><a href="">FAQ</a></li>
              <li class="footer-list-item"><a href="">Visa conditions</a></li>
              <li class="footer-list-item">
                <a href="">Language conditions</a>
              </li>
              <li class="footer-list-item"><a href="">Price calendars</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>PLAN YOUR TRIP</h4>
            <ul class="footer-list">
              <li class="footer-list-item"><a href="">Flight+Hotel</a></li>
              <li class="footer-list-item"><a href="">Cheap flights</a></li>
              <li class="footer-list-item"><a href="">Hotels</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>ABOUT US</h4>
            <ul class="footer-list">
              <li class="footer-list-item">
                <a href="">Terms and conditions</a>
              </li>
              <li class="footer-list-item"><a href="">Privacy policy</a></li>
              <li class="footer-list-item"><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="footer-social-media">
          <div class="footer-icons">
            <a href="" class="footer-icon"><i class="fab fa-facebook"></i></a>
            <a href="" class="footer-icon"><i class="fab fa-instagram"></i></a>
            <a href="" class="footer-icon"><i class="fab fa-twitter"></i></a>
            <a href="" class="footer-icon"><i class="fab fa-youtube"></i></a>
          </div>
          <div class="footer-buttons">
            <button id="like"><i class="far fa-thumbs-up"></i> LIKE</button>
            <button id="share"><i class="fas fa-share"></i> SHARE</button>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
