<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles/newList.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />

    <title>List</title>
  </head>
  <body>
      <div class="form-container">
          <div class="search-options-grid">
              <div class="col-switch">Round trip <i class="fas fa-chevron-down"></i></div>
              <div class="col-travelers">1 Adult <i class="fas fa-chevron-down"></i></div>
              <div class="col-cabin">Economy <i class="fas fa-chevron-down"></i></div>
          </div>
          <form id="searchForm" action="#">
            <div class="fromDestination"><input type="text" name="" id="fromDest"></div>
            <div class="switchBtn"><button id="switchBtn"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></button></div>
            <div class="toDestination"><input type="text" name="" id="toDest"></div>
            <div class="departureDate"><input type="text" name="" id="depDate"></div>
            <div class="returnDate"><input type="text" name="" id="retDate"></div>
          </form>
      </div>
  </body>
</html>
