:root {
  --yellow: #fcc911;
  --blublak: #3f3d56;
  --pink: #f2b0b0;
  --dark-pink: #e58787;
  --green: #57b894;
  --red: #ff6584;
  --purple: #6d087a;
}

main {
  min-height: 96vh;
  background-color: #615e82;
  background-image: url('../resources/contact.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* RESETTING DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* Marking nav location on header */
.header-nav-ul > li:nth-child(3) a {
  border-bottom: 3px solid var(--yellow);
}

.contact-top{
    color: #fff;
}
.contact-top > h2{
    font-size: 2rem;
    letter-spacing: .1rem;
    font-family: 'Amatic SC', cursive;
}
.contact-top > div{
    font-size: 0.9rem;
}

.contact-container {
  padding-top: 1rem;
  padding-bottom: 5rem;
  height: auto;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  transition: 1s;
}

.contact-form {
  margin-top: 1rem;
  background: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 16px 1px var(--blublak);
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form form > * {
  margin: 0.6rem;
  height: 50px;
  border: none;
  outline: none;
}

.contact-form form > input {
  color: var(--blublak);
  padding-left: 0.5rem;
  font-size: 1rem;
  border-bottom: 1px solid var(--yellow);
}

#text-area {
  height: 100px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  font-size: 1.1rem;
  resize: vertical;
  margin-right: 0.6rem;
  resize: none;
  border-bottom: 1px solid var(--yellow);
}

#submitBtn {
  padding: 0.3rem;
  background-color: var(--green);
  font-size: 2rem;
  color: white;
}

#submitBtn:hover {
  background-color: #4ca785;
  color: rgb(209, 206, 206);
}

@media (min-width: 768px) {
    .contact-container{
        width: 50%;
    }
    .contact-top > h2{
        font-size: 4rem;
    }
    .contact-top > div{
        font-size: 1.2rem;
    }
}

@media (min-width: 985px) {
    .contact-container{
        width: 40%;
    }
    .contact-container {
        padding-top: 4rem;
    }
    .contact-form form > input {
        font-size: 1.1rem;
    }
}
