footer{
    background-color: var(--yellow);
    padding: 1rem;
}


.footer-grid{
    display: grid;
    grid-template-columns: repeat(1,auto);
}

.footer-link{
    margin: .5rem 0;
}

.footer-link p{
    font-weight: bold;
}

.footer-link ul{
    list-style: none;
    text-align: left;
}

.footer-link ul li{
    font-size: smaller;
    padding: 0;
}

.footer-link ul li:not(:last-child){
    margin-bottom: -20px;
}

.footer-link ul li a{
    padding: 0;
}

.footer-social-media{
    width: 100%;
    height: 20%;
    align-content: center;
}

.hide-small button{
    border: none;
    padding: 0.3rem;
    margin-top: 5%;
    color: var(--yellow);
    background-color: black;
}

.icons{
    display: flex;
    justify-content: space-evenly;
}

.icons a{
    font-size: 2rem;
    color: black;
}

.hide-small{
    display: none;
}


















@media(min-width: 500px){

    
}

@media(min-width: 768px){


}

@media(min-width: 985px){
    .footer-grid{
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        grid-template-columns: repeat(4,20%);
    }

    .footer-social-media{
        margin: 0 auto;
        width: 33%;
    }

    .hide-small{
        display: inline-block;
    }

}