footer {
    background-color: var(--blublak);
    width: 100%;
}

.footer-top-wrap{
    background: linear-gradient(0deg, rgba(66,64,89,1) 0%, rgba(97,94,132,1) 100%);

}

.footer-wrapper {
    
    background-color: var(--blublak);
    color: white;
}

.footer-statistics{
    color: var(--green);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    min-height: 4rem;
    padding: 0.5rem 0 0.5rem 0;
}

.statistic {   
    display: flex; 
    height: 100%;
    width: auto;
    padding: 0.2rem;
    align-items: center;
}

.statistic > i{
    padding-right: 0.4rem;
    font-size: 2.5rem;
}

.statistic-inner-text > span{
    display: block;
    height: auto;
    line-height: 1.4rem;
}

.statistic-inner-text span:first-child{
    font-size: 1.8rem;
    font-weight: 900;
}

.footer-middle-grid {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    justify-items: center;
    padding: 0.3rem;
    margin:2rem 0 2rem 0;
}

.footer-social-media{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-gap: 1rem;
    padding: 1rem;
}

.footer-list {
    list-style-type: none;
    padding-top: 0.3rem;
}

.footer-list-item{
    padding: 0.3rem 0 0.3rem 0;
}

.footer-list-item > a {
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
}

.footer-list-item a:hover{
    color: var(--green);
}

.footer-icon{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    
}

.footer-links > h4 {
    font-size: 1.3rem;
}

.footer-icon > i {
    font-size: 2rem;
    transition: color 0.3s linear;
}

.footer-icon > i:hover{
    color: var(--green);
}

.footer-buttons > button {
    height: 1.6rem;
    width:auto;
    padding: 0 0.5rem 0 0.5rem;
    line-height: 1.1rem;
    background-color: white;
    color: #3f3d56;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s linear;
    cursor: pointer;

}

.footer-buttons > button:hover {
    background-color: var(--green);
}

#like{
    margin-right: 1.5rem;
}

.footer-icons a:last-child{
    margin-right: 0;
}
@media(min-width: 550px){
    .footer-statistics{
        grid-template-columns: repeat(4,auto);
        justify-content: space-between;
        grid-gap: 0;
        padding: 0;
    }

    .footer-social-media{
        grid-template-columns: auto auto;
        grid-gap: 2rem;
    }
    
}

@media(min-width: 768px){

    .footer-middle-grid {
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        grid-gap: 0;
    }
}

@media(min-width: 985px){

    .footer-wrapper{
        max-width: 1300px;
        width: 100%;
        margin: auto;
    }
    .footer-statistics{
        max-width: 1300px;
        width: 100%;
        margin:auto;
    }
}