
.header{
    background: var(--yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button{
    display: flex;
    margin-top: 1rem;
    position: absolute;
    top: .75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.logo-section{
    padding: 1rem;
    width: 25%;
}


.logo-section > a > img{
    height: auto;
    width: 100%;
}


nav > ul{
    display: none;
    list-style-type: none;
}


ul > li > a{
    text-decoration: none;
}












@media(min-width: 500px){

    
}

@media(min-width: 768px){


}

@media(min-width: 985px){
    .header{
        display: flex;
        background-color: #fcc911bb;
        padding: 0 3rem;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    
    .toggle-button{
        display: none;
    }
    
    .logo-section > a > img{
        width: auto;
        max-height: 40px;
    }

    nav{
        height: 100%;
    }
    
    nav > ul{
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav > ul > li{
        list-style: none;
    }
    
    
    nav > ul > li > a{
        padding: 0 1rem;
    }

}