
.header {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--blublak);
}




/* toggle button start */
.toggle-button {
  display: flex;
  position: absolute;
  margin: auto;
  top: 1rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 21px;
}

.toggle-button:focus{
  outline: none;

}

/*  burger icon */
.toggle-button.active span {
  position: absolute;
}

.toggle-button.active span:first-child {
  transform: rotate(45deg);
  transition: .5s;
}

.toggle-button.active span:last-child {
  transform: rotate(-45deg);
  transition: .5s;
}

.toggle-button.active span:nth-child(2) {
  display: none;
}


.toggle-button .bar {
  transition: .5s;
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
/* end of burger icon */

/* toggle button end */

.header-main{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}



.header-logo-section {
  display: inline-block;
  max-height: 100%;
  justify-self: center;

}


.header-logo-section > img {
  padding-top: .8rem;
  height: 100%;
  width: 60%;
}

.header-nav {
  display: none;
  width: 100%;
}

/* dropdown */


.header-nav.active {
  top: 55px;
  z-index: 10;
  display: block;
  position: absolute;
  background-color: var(--blublak);
}

.header-nav > .header-nav-ul {
  list-style-type: none;
  text-align: center;
}

.header-nav-ul > li > a, .header-nav-ul > li > #more-dropdown > a{
  padding: 0 1rem .5rem 1rem;
  max-height: 100%;
  color: #fff;
  text-decoration: none;
  line-height: 55px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;

}
#more-dropdown{
  display: none;
}

.header-nav-ul > li{
  border-bottom: 1px solid #4b4967;
}




.header-nav-ul > li:nth-child(1) > a{
  border-bottom: 3px solid var(--yellow);
}

.header-nav-ul > li > a:hover {
  color: #c0c0c0;
  border-bottom: 3px solid var(--yellow);
  transition: .2s;
}

#header-drop-items > li{
  list-style: none;
}

#header-drop-items > li > a{
  color: red;
  
}

.hide-small{
  display: none;
}

/* dropdown */



@media (min-width: 500px) {
}

@media (min-width: 768px) {
}

@media (min-width: 985px) {
  .header {
    /* background: linear-gradient(0deg, var(--blublak) 0%, rgba(76,74,94,0.865983893557423) 10%, var(--blublak) 100%); */
    /* background: linear-gradient(0deg, rgba(76,74,94,0.8) 0%, var(--blublak) 100%); */
    /* background: linear-gradient(0deg, rgba(110,107,135,1) 0%, rgba(76,74,94,1) 100%); */
    background: linear-gradient(0deg, rgba(80,77,109,1) 0%, var(--blublak) 100%);
    box-shadow: 0 2px 16px 1px #dcdee3;
  }

  .container-header{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }


  .toggle-button {
    display: none;
  }


  .header-nav {
    width: auto;
    position: relative;
    display: block;
    height: 100%;
  }

  .header-nav > .header-nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    text-align: center;
  }

  /* dropdown */
  .dropdown{
    z-index: 10;
    right: 0;
    position: absolute;
    width: 200px;
    background: linear-gradient(0deg, rgba(97,94,132,1) 0%, rgba(80,77,109,1) 100%);    
    overflow: hidden;
    transform: rotateX(90deg);
    transform-origin: top;
  }
  #more-dropdown{
    position: relative;
  }



  #header-drop-items > li> a{
    display: block;
    padding-bottom: .5rem;
    padding-top: .5rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  #header-drop-items > li> a:hover{
    background-color: var(--blublak);
  }

  .header-nav-ul #more-dropdown:hover .dropdown{
    transform: rotateX(0deg);
    transition: 1s;
  }

  .header-logo-section > img {
    padding-top: 0.4rem;
    width: 78%;
  }
  #more-dropdown{
    display: block;
  }

  .header-nav-ul > li{
    border-bottom: none;
  }



  



}
