.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header-main {
  width: 100%;
  background: var(--yellow);
}

.toggle-button {
  display: flex;
  position: absolute;
  margin: auto;
  top: 2.4rem;
  right: 1.5rem;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 21px;
}

.toggle-button.active span:first-child,
.toggle-button.active span:last-child {
  position: absolute;
}

.toggle-button.active span:first-child {
  transform: rotate(45deg);
}

.toggle-button.active span:last-child {
  transform: rotate(-45deg);
}

.toggle-button.active span:nth-child(2) {
  display: none;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.logo-section {
  margin: 1.5rem;
  width: 25%;
}

.logo-section > a > img {
  width: auto;
  max-height: 50px;
}

nav {
  display: none;
  width: 100%;
}

nav.active {
    z-index: 10;
  display: block;
  position: absolute;
  background-color: #fcc911bb;
  top: 13%
}

nav > ul {
  list-style-type: none;
  text-align: center;
}

ul > li > a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 1rem;
}

@media (min-width: 500px) {
}

@media (min-width: 768px) {
}

@media (min-width: 985px) {
  .header {
    background-color: #fcc911bb;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .header-main {
    background-color: transparent;
  }

  .toggle-button {
    display: none;
  }

  .logo-section {
    margin: 1rem 6rem;
  }

  nav {
    margin-right: 6rem;
    display: block;
    height: 100%;
    width: 26%;
  }

  nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    text-align: center;
  }

  nav > ul > li {
    list-style: none;
  }

  nav > ul > li > a {
    white-space: nowrap;
  }
}
