/* COLOR PALETTE */
:root{
    --yellow: #fcc911;
    --blublak: #4c4a5e;
    --pink: #f2b0b0;
    --dark-pink: #e58787;
    --red: #ea3535;
    --purple: #6d087a;
}

/* RESETTING DEFAULTS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    width: 100%;
    background-color: #f8f8f8;
}

.container{
    margin: 3rem auto 3rem auto;
}

.container-top{
    margin-bottom: 2rem;
}

.container-bottom {
    display: grid;
    grid-template-columns: 1fr;
}



/* INTRO styles */
.intro{
    position: relative;
    text-align: center;
    min-height: 200px;
    height: 40vh;
    background-image: url('../resources/index/intro.svg');

    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro > div{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    background-image: url('../resources/index/mainRotation.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.intro > div > div{
    width: 285px;
    height: 285px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    background-image: url('../resources/index/secondaryRotation.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.intro >  a {
    color: #4c4a5e;
    text-decoration: none;
    font-size: 2rem;
    transform: none ;
}




.intro #intro-where{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotation{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(0.8);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}

@keyframes counterrotation{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(1.2);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}




/* STRUCTURING THE CONTENT */




@media(min-width: 500px){
    .best-of{
        max-width: 400px;
        justify-self: center;
    }
}

@media(min-width: 768px){
    .best-of{
        max-width: 400px;
        justify-self: center;
    }
    .container-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 0.3rem 0 0.3rem;
    }

}

@media(min-width: 985px){
    .best-of{
        width: 100%;
    }
    
    .container{
        width: 100%;
        max-width: 1300px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 1rem;
    }

    .intro > div{
        animation: rotation 20s infinite linear ;
        display: flex;
    }
    
    .intro > div div{
        animation: counterrotation 40s infinite linear ;
        display: flex;
    }

    .container-bottom {
        display: block;
        padding: 0;
    }
    

}