/* COLOR PALETTE */
:root{
    --yellow: #fcc911;
    --pink: #f2b0b0;
    --dark-pink: #e58787;
    --red: #ea3535;
    --purple: #6d087a;
}

/* RESETTING DEFAULTS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root{
    --yellow: #fcc911;
    --pink: #f2b0b0;
    --dark-pink: #e58787;
    --red: #ea3535;
    --purple: #6d087a;

}

body{
    width: 100%;
}


/* INTRO styles */
.intro{
    position: relative;
    padding-top: 5rem;
    text-align: center;
    min-height: 200px;
    height: 40vh;
    
}
.intro::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url('../resources/index/intro-img.jpg') no-repeat center center/cover;
    filter: contrast(80%);
    z-index: -2;
}
.intro::after{
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: inherit;
    background: url('../resources/index/intro-svg.svg') no-repeat bottom center;
    z-index: -1;
}


.intro > a{
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    font-size: 2rem;
}
.intro > a > i{
    display: block;
    transition: .5s;
}
.intro > a:hover > i{
    transform: scale(1.1);
    transition: .5s;
    color: var(--yellow);
}

/* STRUCTURING THE CONTENT */




@media(min-width: 500px){


}

@media(min-width: 768px){


}

@media(min-width: 985px){
    .container{
        width: 90%;
        max-width: 1100px;
        margin: auto;
    }
    .intro{
        padding-top: 3.5rem;
        height: 45vh;
        line-height: 35vh;
    }
    .intro > a{
        font-size: 3rem;
        margin-top: 1rem;
    }
    .intro > a > i{
        display: inline-block;
    }
    .intro > a:hover > i{
        transform: translateX(3rem);
        transition: 1s;
        color: var(--yellow);
    }
    

}