:root {
  --yellow: #fcc911;
  --blublak: #3f3d56;
  --pink: #f2b0b0;
  --dark-pink: #e58787;
  --green: #57b894;
  --red: #ff6584;
  --purple: #6d087a;
}

/* RESETTING DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  outline: none;
}

body{
    background: url('../resources/listBack2.jpg') no-repeat bottom right;
    background-attachment: fixed;
}

.form-container {
  min-height: 50vh;
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  margin: 0rem auto;
  align-items: center;
  justify-content: center;
}


/* ensuring that footer is invisible in first 100vh*/
main {
  min-height: 94.5vh;
  margin: .5rem;
}




.search-options-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  background-color: var(--blublak);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.2rem 0.9rem;
  font-size: .9rem;
  gap: .6rem;
  margin-bottom: -.1rem;
}
.search-options-grid > *{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.col-trip {
  grid-row: 1;
  grid-column: 4/7;
}

.col-travelers {
  grid-row: 1;
  grid-column: 1/4;
}

.col-cabin {
  grid-row: 2/3;
  grid-column: 1/4;
}

.col-sort-by {
  grid-column: 4/7;
}
.col-direct-flight {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  grid-column: 1/7;
}

.search-options-grid > div {
  position: relative;
  color: white;
  width: 100%;
}

.search-options-grid > div > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.col-ul {
  top: 0;
  z-index: 10;
  position: absolute;
  background-color: #4d4a6b;
  border-radius: 5px;
  width: 100px;
}

.col-ul > ul {
  width: 100%;
  color: white;
}
.col-ul > ul > li {
  border-bottom: 1px solid var(--blublak);
  white-space: nowrap;
  list-style: none;
  height: 100%;
  cursor: pointer;
  display: block;
  padding: 0.6rem;
}

.col-ul > ul > li:last-child {
  border-bottom: none;
}

/* .col-ul > ul > li:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.col-ul > ul > li:last-of-type:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} */

.col-ul > ul > li:hover {
  background-color: var(--blublak);
}

.col-ul.travelers {
  width: 200px;
}
.travelers > ul > li {
  cursor: auto;
}

.travelers > ul > li:hover {
  background-color: var(--blublak);
}

.col-left span {
  color: rgb(0, 0, 0);
  font-size: small;
}

.col-right > * {
  margin: 0 0.2rem;
}

.col-right > button {
  height: 25px;
  width: 25px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  font-weight: 600;
}

.col-right > button:hover {
  background-color: rgb(199, 198, 198);
}

.travelers > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dates {
  z-index: 1;
}
.switch {
  position: relative;
  display: block;
  width: 24px;
  height: 12px;
  margin-left: 6px;
}

.form {
  width: 100%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.521);
  transition: 0.5s;
}

.slider::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 0px;
  right: 1px;
  background-color: var(--blublak);
  transition: 0.5s;
}

.switch input {
  position: absolute;
  z-index: 5;
  width: 30px;
  right: 0px;
  opacity: 0;
  cursor: pointer

}

input:checked + .slider {
  background-color: var(--green);
}

.slider.round {
  border-radius: 20px;
}

.slider.round::before {
  width: 43%;
  height: 43%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotateZ(-45deg);
}

input:checked + .slider::before {
  background-color: var(--blublak);
  transform: translateX(13px) rotateZ(45deg);
}

#searchForm {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: var(--blublak);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.2rem;
  position: relative;
}

#searchForm > div:not(.date-picker) {
  padding: 0.2rem;
  height: 45px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  border-radius: 5px;
  margin: 0.2rem;
}

#searchForm > div:nth-child(2) {
  padding: 0;
}

#searchForm > div input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-style: none;
  padding-left: 40px;
}

.fromDestination {
  position: relative;
  grid-column: 1/6;
  background-image: url("../resources/formFromIcon.png");
}

.switchBtn {
  grid-column: 6/7;
  display: flex;
  align-items: center;
  justify-content: end;
}

#switchBtn:hover {
  background-color: var(--yellow);
  border-radius: 5px;
}

#switchBtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
}

.toDestination {
  position: relative;
  grid-column: 1/7;
  background-image: url("../resources/formToIcon.png");
}

.departureDate {
  grid-column: 1/7;
  background-image: url("../resources/fromDateFormIcon.png");
}

.form-container.one-way .returnDate {
  display: none;
}
.form-container.one-way .form {
  width: 100%;
}

.returnDate {
  grid-column: 1/7;
  background-image: url("../resources/toDateFormIcon.png");
}

#submitBtn {
  margin-top: .5rem;
  text-align: center;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  padding: .7rem 1rem .7rem;
  background: var(--green);
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(63, 63, 63, 0.692);
}

#submitBtn:hover {
  background: #64be9d;
}





/* RESULT CARDS STYLES */

#resultList{
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
}

.result-li {
  z-index: -1;
  margin: 0 auto;
  max-width: 800px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.date-li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-top: .2rem;
}

.li-main {
  margin-top: 1rem;
  background-color: #fff;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.li-price {
  position: relative;
  background-color: var(--green);
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 5.5rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: 2.5rem;
}

.li-price .price-amount {
  font-weight: 500;
  color: #fff;
}
.li-price .price-currency {
  font-size: 1.2rem;
  vertical-align: top;
  color: #fff;
}

.li-price > a {
  font-size: 1rem;
  color: #166e16;
  text-decoration: none;
  padding: 0.5rem 2rem 0.5rem;
  border-radius: 5px;
  font-weight: 600;
  background-color: white;
  transition: border-radius 0.2s;
}
.li-price > a:hover {
  border-radius: 0;
}

.li-flight-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem 0 1rem;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.middle-line {
  grid-column: span 3;
  display: flex;
  align-items: center;
}
.middle-line > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border-bottom: 3px solid red; */
}

.middle-line > div > div:first-child,
.middle-line > div > div:last-child {
  border-bottom: 1.5px solid var(--yellow);
  width: 100%;
}
.middle-line > div > div:nth-child(2) > span:nth-child(2) {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  min-width: 30px;
  color: var(--blublak);
}

.middle-line > div > div:nth-child(2) > span:first-child {
  position: absolute;
  top: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.middle-line > div > div:nth-child(2) > span:last-child {
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.location-li-dep,
.location-li-arr {
  text-align: center;
}

.time-dep-li,
.time-arr-li {
  font-size: 2rem;
}

.li-main > p:last-child {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-li {
  font-weight: 600;
  color: var(--blublak);
  background-color: var(--yellow);
  padding: 0.3rem 0.5rem 0.3rem;
}

.li-main > p:last-child > button {
  text-transform: uppercase;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  color: var(--green);
  background-color: #fff;
  border: none;
  font-size: 0.8rem;
}
.li-main > p:last-child > button > i {
  font-size: 0.6rem;
}
.li-main > p:last-child > button:hover > i {
  transform: translateY(3px);
  transition: 0.2s;
}

.line-li-result {
  display: none;
  width: 0.5%;
  margin: 0.5rem 0 0.5rem;
  border-left: 1.5px dotted green;
}

.return-li {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.1rem 1rem 0.2rem;
  font-size: 0.8rem;
  background-color: var(--blublak);
  color: #fff;
  font-weight: 600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
}

.show-return {
  display: block;
}



/* Navigation styling */
.navigation-list {
  color: var(--green);
  font-size: 1.4rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#page-id {
  color: var(--blublak);
  font-size: 1.2rem;
  font-weight: 600;
}
.navigation-list > * {
  padding: 0.5rem;
}
.fa-caret-left:hover,
.fa-caret-right:hover {
  cursor: pointer;
  color: var(--blublak);
}
.warning-arrow {
  color: var(--red);
  transition: color 0.4s;
}



/* AUTOCOMPLETE STYLING */
.autocomplete{
  z-index: 10;
  width: 80%;
  position: absolute;
  left: 0;
  list-style: none;
  padding: .5rem;
  background-color: #fff;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.autocomplete > li{
  overflow: hidden;
  white-space: nowrap;
  padding: .5rem;
  border-bottom: var(--blublak) 1px solid;
}

.autocomplete > li:hover{
  background-color: #f0f0f0;
}

.hide-autocomp{
  display: none;
}

.no-result{
  color: var(--red);
}



/* FADE-IN DELAY ON SEARCH RESULTS */
.li-delay-1{
  animation-delay: 100ms;
}
.li-delay-2{
  animation-delay: 200ms;
}
.li-delay-3{
  animation-delay: 300ms;
}
.li-delay-4{
  animation-delay: 400ms;
}
.li-delay-5{
  animation-delay: 500ms;
}




/* LOADERS AND NOTIFICATIONS */
.slider-cards{
  grid-column: span 2;
}
.slider-loader {
  grid-column: span 2;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-loader > .spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 9px solid #f3f3f3;
  border-top: 9px solid var(--green);
  animation: spin 1s infinite linear;
}

.center-warning {
  display: inline-block;
  margin: 0 auto;
  background-color: var(--red);
  padding: 1rem;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 1rem;
  z-index: -1;
}

.center-notification {
  display: inline-block;
  margin: 0 auto;
  background-color: rgba(231, 216, 7, 0.8);
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  z-index: -1;
}
.center-notification > i {
  font-size: .7rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/* Marking nav location on header */
.header-nav-ul  li:nth-child(2)  a {
  border-bottom: 3px solid var(--yellow);
}






@media (min-width: 500px) {

  .departureDate {
    grid-column: 1/4;
  }

  .returnDate {
    grid-column: 4/7;
  }

  .form-container.one-way .departureDate {
    grid-column: 1/7;
  }
  .result-li {
    flex-direction: row;
  }
  .li-main {
    width: 69.75%;
  }
  
  .li-price {
    width: 29.75%;
  }

  .line-li-result {
    display: inline-block;
  }


  .li-main {
    margin: 0.5rem;
    margin-right: 0.2rem;
    padding: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
  }
  .li-price {
    margin: 0.5rem;
    margin-left: 0rem;
    padding-top: 2rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
  }
  .date-li {
    padding-left: 0rem;
    padding-top: 0rem;
  }

  .li-price {
    flex-direction: column;
  }
}





@media (min-width: 768px) {

  .search-options-grid > *{
    border-bottom: none;
  }
  .center-notification {
    font-size: 2rem;
  }
  .center-notification > i {
    font-size: 1.4rem;
  }
  .center-warning {
  font-size: 2.2rem;
  }


  .fromDestination {
    grid-column: 1/4;
  }
  .switchBtn {
    grid-column: 4;
    justify-content: center;
  }
  #switchBtn {
    width: 100%;
    font-size: small;
    flex-direction: column;
  }
  #switchBtn i {
    transform: rotate(90deg);
  }
  .toDestination {
    grid-column: 5/7;
  }
  .search-options-grid {
    font-size: 1rem;
  }
  .col-trip{
    grid-column: 1;
  }

  .col-travelers{
    grid-column: 2;
  }

  .col-cabin{
    grid-row: 1/2;
    grid-column: 3;
  }
  
  .col-sort-by {
    grid-column: 4;
  }
  .col-direct-flight {
    grid-column: 5;
    text-align: center;
  }
  }




@media (min-width: 985px) {
  
/* search trigger effect */
.search-small-form{
  min-height: 30vh;
  transition: min-height .7s;
}
#resultList{
  grid-template-columns: repeat(2, 1fr);
}
.navigation-list{
  grid-column: span 2;
}
.result-li:nth-child(5){
  grid-column: span 2;
}
  
  #searchForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.2rem;
  }


  .search-options-grid {
    font-size: 1rem;
  }

  .fromDestination {
    width: 25%;
  }
  .switchBtn {
    width: 5%;
  }

  #switchBtn {
    width: 100%;
  }

  .toDestination {
    width: 25%;
  }

  .form-container.one-way .departureDate {
    width: 44%;
  }
  .departureDate {
    width: 22%;
  }

  .returnDate {
    width: 22%;
  }
}
