:root {
  --yellow: #fcc911;
  --blublak: #3f3d56;
  --pink: #f2b0b0;
  --dark-pink: #e58787;
  --green: #57b894;
  --red: #ff6584;
  --purple: #6d087a;
}

/* RESETTING DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  outline: none;
}

body{
  background-color: #f8f8f8;
}

.form-container {
  /* background: url('../resources/list.jpg') no-repeat center center/cover; */
  height: 40vh;
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  margin: 0rem auto;
  align-items: center;
  justify-content: center;
}

main{
  min-height: 94.5vh ;
}



.slider-loader{
  grid-column: span 3;
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-loader > .spinner{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 9px solid #f3f3f3;
  border-top: 9px solid var(--green);
  animation: spin 1s infinite linear;
}

.center-warning{
  display: inline-block;
  margin: 0 auto;
  color: rgb(231, 216, 7);
  font-size: 2rem;
}

.center-notification{
  display: inline-block;
  margin: 0 auto;
  color: var(--green);
  font-size: 2rem;
}
.center-notification > i{
  font-size: 1.3rem;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}






.search-options-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background-color: var(--blublak);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.search-options-grid > div {
  position: relative;
  cursor: pointer;
}

.search-options-grid > div > a {
  text-decoration: none;
  color: black;
}

.col-ul {
  top: 0;
  z-index: 10;
  position: absolute;
  background-color: var(--green);
  border-radius: 5px;
  width: 100px;
}

.col-ul > ul {
  width: 100%;
  color: white;
}
.col-ul > ul > li {
  white-space: nowrap;
  list-style: none;
  height: 100%;
  cursor: pointer;
  display: block;
  padding: 0.6rem;
}

.col-ul > ul > li:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.col-ul > ul > li:last-of-type:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.col-ul > ul > li:hover {
  background-color: #2a8362;
}

.col-ul.travelers {
  width: 200px;
}
.travelers > ul > li {
  cursor: auto;
}

.travelers > ul > li:hover {
  background-color: var(--green);
}

.col-left span {
  color: rgb(0, 0, 0);
  font-size: small;
}

.col-right > * {
  margin: 0 0.2rem;
}

.col-right > button {
  height: 20px;
  width: 20px;
  text-align: text-top;
  cursor: pointer;
  border: none;
}

.col-right > button:hover {
  background-color: rgb(199, 198, 198);
}

.travelers > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dates{
  z-index: 1;
}

#searchForm {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: var(--blublak);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.2rem;
  position: relative;
}

#searchForm > div:not(.date-picker) {
  padding: 0.2rem;
  height: 40px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  border-radius: 5px;
  margin: 0.2rem;
}

#searchForm > div:nth-child(2) {
  padding: 0;
}

#searchForm > div input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-style: none;
  padding-left: 40px;
}

.fromDestination {
  grid-column: 1/6;
  background-image: url("/resources/formFromIcon.png");
}

.switchBtn {
  grid-column: 6/7;
  display: flex;
  align-items: center;
  justify-content: end;
}

#switchBtn:hover {
  background-color: var(--yellow);
  border-radius: 5px;
}

#switchBtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
}

.toDestination {
  grid-column: 1/7;
  background-image: url("/resources/formToIcon.png");
}

.departureDate {
  grid-column: 1/7;
  background-image: url("/resources/fromDateFormIcon.png");
}

.form-container.one-way .returnDate {
  display: none;
}
.form-container.one-way .form {
  width: 80%;
}

.returnDate {
  grid-column: 1/7;
  background-image: url("/resources/toDateFormIcon.png");
}

#submitBtn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 0.3rem;
  text-align: center;
  margin: 0.5rem;
  border: none;
  background: var(--green);
}

#submitBtn:hover {
  background: #64be9d;
}



.result-li{
  z-index: -1;
  margin: 0 auto;
  max-width: 800px;
  list-style: none;
  display: flex;
}

.date-li{
  border-bottom: 1px solid #ccc;
  padding-bottom: .2rem;
}

.li-main{
  background-color: #fff;
  margin: .5rem;
  margin-right: .2rem;
  padding: .5rem;
  width: 69.75%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.li-price{
  position: relative;
  margin: .5rem;
  margin-left: 0rem;
  background-color: var(--green);
  padding-top: 2rem;
  width: 29.75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: 2.5rem;
}

.li-price .price-amount{
  font-weight: 500;
  color: #fff;
}
.li-price .price-currency{
  font-size: 1.2rem;
  vertical-align: top;
  color: #fff;
}

.li-price > a{
  font-size: 1rem;
  color: #166e16;
  text-decoration: none;
  padding: .5rem 2rem .5rem;
  border-radius: 5px;
  font-weight: 600;
  background-color: white;
  transition: border-radius .2s;
}
.li-price > a:hover{
  border-radius: 0;
}


.li-flight-info{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem 0 1rem;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.middle-line{
  grid-column: span 3;
  display: flex;
  align-items: center;
}
.middle-line > div{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border-bottom: 3px solid red; */
}

.middle-line > div > div:first-child , .middle-line > div > div:last-child{
  border-bottom: 1.5px solid var(--yellow); 
  width: 100%;
} 
.middle-line > div > div:nth-child(2) > span:nth-child(2){
  display: flex;
  justify-content: center;
  white-space: nowrap;
  min-width: 30px;
  color: var(--blublak)
}

.middle-line > div > div:nth-child(2) > span:first-child{
  position: absolute;
  top: .2rem;
  left: 50%;
  transform: translateX(-50%);
}

.middle-line > div > div:nth-child(2) > span:last-child{
  position: absolute;
  bottom: .2rem;
  left: 50%;
  transform: translateX(-50%);
}

.location-li-dep, .location-li-arr{
  text-align: center;
}


.time-dep-li , .time-arr-li{
  font-size: 2rem;
}


.li-main > p:last-child{
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-li{
  font-weight: 600;
  color: var(--blublak);
  background-color: var(--yellow);
  padding: .3rem .5rem .3rem;
}

.li-main > p:last-child > button{
  text-transform: uppercase;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  color: var(--green);
  background-color: #fff;
  border: none;
  font-size: .8rem;
}
.li-main > p:last-child > button > i{
  font-size: .6rem;
}
.li-main > p:last-child > button:hover > i{
  transform: translateY(3px);
  transition: .2s;
}

.line-li-result{
  width: .5%;
  margin: .5rem 0 .5rem;
  border-left: 1.5px dotted green;
}

.return-li{
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: .1rem 1rem .2rem;
  font-size: .8rem;
  background-color: var(--blublak);
  color: #fff;
  font-weight: 600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
}

.show-return{
  display: block;
}






@media (min-width: 500px) {
  .departureDate {
    grid-column: 1/4;
  }

  .returnDate {
    grid-column: 4/7;
  }

  .form-container.one-way .departureDate {
    grid-column: 1/7;
  }
}

@media (min-width: 768px) {
  .form-container {
    width: 80%;
  }

  .fromDestination {
    grid-column: 1/4;
  }
  .switchBtn {
    grid-column: 4;
    justify-content: center;
  }
  #switchBtn {
    width: 100%;
    font-size: small;
    flex-direction: column;
  }
  #switchBtn i {
    transform: rotate(90deg);
  }
  .toDestination {
    grid-column: 5/7;
  }
}

@media (min-width: 985px) {
  .form-container {
    flex-direction: row;
  }
  #searchForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.2rem;
    border-radius: 5px;
  }

  #submitBtn {
    margin-top: 25px;
  }

  .search-options-grid {
    background-color: transparent;
  }

  .fromDestination {
    width: 25%;
  }
  .switchBtn {
    width: 5%;
  }

  #switchBtn {
    width: 100%;
  }

  .toDestination {
    width: 25%;
  }

  .form-container.one-way .departureDate{
    width: 44%;
  }
  .departureDate {
    width: 22%;
  }

  .returnDate {
    width: 22%;
  }
}
