* {
  box-sizing: border-box;
}

.search-flights {
  width: 90%;
  height: 100%;
  background-color: #fcc911bb;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.flight-options {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.flight-options > a {
  padding: 10px;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  color: white;
  position: relative;
}
.flight-options > a:hover {
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}
.flight-options > a::after {
  content: "";
  display: none;
  position: absolute;
  left: 34%;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 15;
}
.flight-options > a.active {
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}
.flight-options > a.active::after {
  display: block;
}

.search-query {
  width: 98%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.query-item input {
  border: none;
  font-size: larger;
  outline: none;
}

#departure input,
#return input {
  font-weight: bold;
  font-size: 1rem;
  width: 70%;
}

.query-item {
  border: 1px solid var(--yellow);
  border-radius: 2px;
  height: 2.5rem;
  width: 90%;
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
  margin: .3rem 0;
}

.query-item.active {
  box-shadow: 0 0 5px var(--yellow);
}

.tripIcons {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: none;
  width: 3%;
  color: black;
}

#departure,
#return {
}

#noOfPassengers {
}

.search {
  background-color: var(--dark-pink);
  width: 40%;
  padding: 0.5rem;
  border: 1px solid black;
}

.search:hover {
  background-color: var(--dark-pink);
  opacity: 0.9;
}

.search:active {
  box-shadow: inset 0 0 10px #000000;
}

.search i {
  font-size: 1.5rem;
}

#from::before,
#to::before,
#departure::before,
#return::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 30px;
  z-index: 5;
  left: 5px;
}

#from.empty,
#to.empty,
#departure.empty,
#return.empty {
  padding-left: 25px;
}

#from.empty::before {
  background-image: url("../resources/a.svg");
}

#to.empty::before {
  background-image: url("../resources/b.svg");
}

#return {
  position: relative;
}

#departure.empty::before,
#return.empty::before {
  background-image: url("../resources/date.svg");
  background-repeat: no-repeat;
}


#return.notEmpty .x::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 15px;
  height: 15px;
  background: url("../resources/x.svg") no-repeat center;
  z-index: 5;
  right: 5px;
  cursor: pointer;
}



.date-picker {
  display: none;
  left: 40%;
  position: absolute;
  width: 40%;
  max-width: 320px;
  height: auto;
  background-color: #fff;
  margin: 30px auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.date-picker .dates {
  border: var(--yellow) 2px solid;

  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background-color: #fff;
}

.date-picker.show {
  display: block;
}

.date-picker .dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}

.date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
  background-color: #f3f3f3;
}

.date-picker .dates .month .arrows:active {
  background-color: var(--yellow);
}

.date-picker .dates .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 200px;
}
.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}
.date-picker .dates .days .day.selected {
  background-color: var(--yellow);
}

@media (min-width: 985px){
  .search-flights {
    width: 75%;
    height: 50%;
  }

  


  .search-query {
    width: 98%;
    height: 80%;
    flex-direction: row;
  }


  #departure input,
  #return input {
    font-size: 0.8rem;
    width: 100%;
  }

  .query-item {
    width: 20%;
  }

  .tripIcons {
    width: 3%;
  }

  #departure,
  #return {
    width: 14%;
  }

  #noOfPassengers {
    width: 10%;
  }

  .search {
    width: 6%;
  }

  #return.notEmpty .x::after{
    top: 2px;
    right: 2px;
    height: 10px;
    width: 10px;
  }


}

@media (min-width: 1120px) {
  #return.notEmpty .x::after{
    top: 13px;
    right: 8px;
    height: 15px;
    width: 15px;
  }

}
