/* slider head h2 */
.slider{
    margin-bottom: 2rem;
}
.slider-head > h2{
    color: #333;
    padding-left: 0.3rem;
}

.slider-head > a {
    display: none;
}
.slider-head #city-slider{
    white-space: nowrap;
    padding-bottom: .7rem;
}

.slider .slider-content{
    position: relative;
    display: flex;
    align-items: center;
}

/* navigation for tablet -> desktop */
.slider-content > i{
    cursor: pointer;
    display: none;
    font-size: 2.2rem;
    color: var(--yellow);
    background-color: #4c4a5eb6;
    padding: .3rem;
}
.slider-content > i:hover{
    background-color: var(--blublak);
    transition: .2s;
    
}

.slider-content > #slider-right {
    right: 0;
    padding: .7rem;
    padding-right: .1rem;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.slider-content > #slider-left{
    padding: .7rem;
    padding-left: .1rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

}


/* main slider for images */



.slider-cards{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/* CARD styling */
.slider-card{
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
    list-style: none;
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    color: white;
    text-shadow: 0 0 .3rem #333;
    margin: .5rem;
    box-shadow: 0 2px 16px 1px #dcdee3;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    background : no-repeat center center/cover;
}
.slider-card::before{
    position: absolute;
    content: '';
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: .5s;
}
.slider-card:hover::before{
    transition: .5s;
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.6);
}

.slider-card .card-hover-in{
    width: 100%;
    transform: translateY(4rem);
    transition: .5s;
}

.slider-card > .card-hover-in{
    z-index: 2;
}
.slider-card:hover .card-hover-in{
    transform: translateY(-.7rem);
    transition: .5s;
}

.slider-card > .card-hover-in > h3{
    white-space: nowrap;
    padding-right: .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: .5rem;
}

.slider-card > .card-hover-in > h3 > i{
    color: var(--yellow);
}
.slider-card .card-hover-in > div > p > .price-currency {
    font-size: .7rem;
    vertical-align: top;
}

.card-hover-in > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-card .card-hover-in > .details-btn{
    border: none;
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    padding: .6rem 1rem .6rem;
    text-decoration: none;
    background-color: var(--yellow);
    color: #333;
    text-shadow: none;
}

.slider-card .card-hover-in > .details-btn:hover{
    opacity: .8;
    transition: .3s;
}

.slider-loader{
    grid-column: span 3;
    height: 603px;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-loader > .spinner{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 9px solid #f3f3f3;
    border-top: 9px solid var(--yellow);
    animation: spin 1s infinite linear;
}




@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




@media (min-width: 500px) {
}

@media (min-width: 768px) {
    .slider-head > h2{
        display: inline-block;
        border-bottom: 2px solid var(--yellow);
        margin-bottom: 1rem;
    }
    .slider-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .2rem;
    }
    
    .slider-card{
        width: 100%;
        min-height: 300px;
        height: 100%;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .sd-card-blank{
        background-color: #4c4a50;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        color: var(--yellow)
    }
    .sd-card-blank:hover{
        opacity: .8;
    }

    .slider-card:nth-child(1){
        grid-column: span 1;
    }
    .slider-card:nth-child(2){
        grid-column: span 2;
    }
    .slider-card:nth-child(3){
        grid-column: span 3;
    }

    .slider-content > #slider-right , .slider-content > #slider-left{
        display: inline-block;
        position: absolute;
        z-index: 8;
    }
    .card-hover-in > h3{
        font-size: 1.6rem;
    }
    .card-hover-in > div{
        flex-direction: row;
        justify-content: space-between;
        padding: .6rem 1rem .6rem;
    }

}

@media (min-width: 985px) {
}